<!DOCTYPE html>
<html lang="en">
<head>
  <title>Gamry</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script type='text/javascript' src='https://code.jquery.com/jquery-1.11.0.js'></script>
  <script type='text/javascript' src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      $( "#form1" ).submit(function(event) {
        event.preventDefault();
        $.ajax({
          type: 'POST',
          url: '/register',
          data: $('#form1').serialize(),
          dataType: "json",
          success: function(response){
            //alert("a");
            //console.log(response.Success);
            $('#form1')[0].reset();
            document.getElementById("check").innerHTML=response.Success;
                  //ADD THIS CODE
                  setTimeout(function(){
                    document.getElementById("check").innerHTML="";
                  },3000);
                  if (response.Success=="You are regestered,You can login now.") {
                    console.log("wooo");
                    document.getElementById("aa").click();
                  };
                },
                error: function() {
                }
              })
      });
    });
    $(document).ready(function(){
$(":input").inputmask();



$("#phone").inputmask({
mask: '999 999 9999',
placeholder: ' ',
showMaskOnHover: false,
showMaskOnFocus: false,
onBeforePaste: function (pastedValue, opts) {
var processedValue = pastedValue;

//do something with it

return processedValue;
}
});
});
  </script>
  <style>
  body{
    height: 100%;
    font-family: ;/*courier garamond candara*/
  }
  .fa {
  padding: 20px;
  font-size: 24px;
  width: ;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: black;
}
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
.fix { overflow: hidden }
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
html,
body { height: 100% }

a {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #333;
}
a:hover { text-decoration: none }



.search-box{margin:80px auto;position:absolute;}
.caption{margin-bottom:50px;}
.loginForm input[type=text], .loginForm input[type=password]{
  margin-bottom:10px;
}
.loginForm input[type=submit]{
  background:#fb044a;
  color:#fff;
  font-weight:700;

}

/*
body {
    padding: 2.5em 2em 0em;
    background: #f5f7f9;
        font-size: 1.5em;
        color: #346;
        font-family: Signika, -apple-system, sans-serif;
}*/
  </style>
</head>
<body>
  <nav id = "navbarColo" class="navbar navbar-expand-lg navbar-light  navbar-fixed">
    <a class="navbar-brand" href="#" style="font-family: garamond; border-bottom: medium solid black "><strong>Game</strong>ry</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/scoreboard">Leaderboards</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/library">Library</a>
        </li>
      </ul>
      <span class="navbar-text">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-instagram"></a>
      </span>
    </div>
  </nav>

  <div class="container h-100 col-sm-8" style="margin-top: 3%">
    <h2 style="font-family: garamond">Register</h2>
    <hr>
      <form id="form1" method="post" class="needs-validation h-100" oninput='pwdConf.setCustomValidity(password.value != pwdConf.value ? "Passwords do not match." : "")'>
        <div class="form-group">
          <label for="email">Username:</label>
          <input type="text" class="form-control" id="uname" minLength="4" maxlength="20" placeholder="Enter username" name="username" required>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input class="form-control" placeholder="Enter email" data-inputmask="'alias': 'email'" name="email" required>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div><!--
        <div class="form-group">
          <label for="password">Phone:</label>
          <input class="form-control" name="phone" id="phone" data-inputmask="'alias': 'phonebe'" placeholder="(201) 555-5555">
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>-->
   <div class="row">
<div class="col">
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="pwd" minLength="8" placeholder="Enter password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" name="password" required>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
      </div>
      <div class="col">
              <div class="form-group">
                <label for="password">Password Conf:</label>
                <input type="password" class="form-control" id="pwd" minLength="8" placeholder="Confirm Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" name="pwdConf" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>
            </div>
          </div>
        <div class="form-group form-check">
        <div class="row">
      </div>
        <div class="row">
          <div class="col-md- mx-auto">
        <button type="submit" value="Login" class="btn btn-outline-dark">Register</button>
      </div>
      </div>
      </form>

  <div class="mssg bg-danger">
  			<span id="check"></span>
  		</div>
  		<div>
  		</div>
  		<div id="LangTable"><a href="/welcome" id="aa"></a>
  		</div>
    </div>
    <!-- Footer -->
    <footer class="page-footer font-small cyan darken-3">


      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">
        <hr class="w-25">
        <div class="footer-copyright text-center py-3">Already Registered? <a href="/login">Login</a>
        </div>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->
    <script>
    $(document).ready(function(){
$(":input").inputmask();



$("#phone").inputmask({
mask: '(999) 999-9999',
placeholder: ' ',
showMaskOnHover: false,
showMaskOnFocus: false,
onBeforePaste: function (pastedValue, opts) {
var processedValue = pastedValue;

//do something with it

return processedValue;
}
});
});
    </script>
</body>
</html>
