<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Gamry</title>

  <link href="style/main.css" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="apple-touch-icon" href="meta/apple-touch-icon.png">
  <link rel="apple-touch-startup-image" href="meta/apple-touch-startup-image-640x1096.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)"> <!-- iPhone 5+ -->
  <link rel="apple-touch-startup-image" href="meta/apple-touch-startup-image-640x920.png"  media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)"> <!-- iPhone, retina -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>
  <div class="container">
    <div class="heading">
      <h1 class="title">2048</h1>
      <div class="scores-container">
        <div class="score-container">0</div>
        <div class="best-container">0</div>
      </div>
    </div>

    <div class="above-game">
      <p class="game-intro">Join the numbers and get to the <strong>2048 tile!</strong></p>
      <a class="restart-button">New Game</a>
    </div>

    <div class="game-container">
      <div class="game-message">
        <p></p>
        <div class="lower">
	        <a class="keep-playing-button">Keep going</a>
          <a class="retry-button">Try again</a>
        </div>
      </div>

      <div class="grid-container">
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
      </div>

      <div class="tile-container">

      </div>
    </div>
  </div>
    <script src="js/game_manager.js"></script>
  <script>
$(document).ready(function(){

$( "#form3" ).submit(function(event) {
  event.preventDefault();

  $.ajax({
    type: 'POST',
    url: '/submitScore',
    data: $('#form3').serialize(),
    dataType: "json",
    success: function(response){
      //alert("a");
      //console.log(response.Success);
      $('#form3')[0].reset();

      document.getElementById("check").innerHTML=response.Success;
            //ADD THIS CODE
            setTimeout(function(){
              document.getElementById("check").innerHTML="";
            },3000);
            if (response.Success=="You are regestered,You can login now.") {
              document.getElementById("aa").click();
            };
          },
          error: function() {
            console.log("heck no");
          }
        })
});
});
</script>
  <script async defer
  	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDicVjDmUV4IvUFNHTdVWbIGnnp1BQSJQQ">
  	</script>
<!--
  <div class='form-group'>
  	<form id='form3' method='post'>
  		<input type='hidden' id='userCity' name='city' required='' class='form-control'>
  		<input type='hidden' id='userState' name='state' required='' class='form-control'>
  		<input type='hidden' id='userCountry' name='country' required='' class='form-control'>
  		<br/>
  		<input type='hidden' id='scor' name='score' required='' class='form-control'>
  		<br/>
  	<input type='submit' value='Register' class='btn btn-success'>
  </form>
</div>-->

	<h1 style="margin-left: 35%"> <a href="/scoreboard">Go to Leaderboards</a></h1>


  <script src="js/bind_polyfill.js"></script>
  <script src="js/classlist_polyfill.js"></script>
  <script src="js/animframe_polyfill.js"></script>
  <script src="js/keyboard_input_manager.js"></script>
  <script src="js/html_actuator.js"></script>
  <script src="js/grid.js"></script>
  <script src="js/tile.js"></script>
  <script src="js/local_storage_manager.js"></script>
  <script src="js/game_manager.js"></script>
  <script src="js/application.js"></script>
</body>
</html>
